
.contactDeatails {
    width: 343px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #475467;
}       