.contactWrapper {
  padding: 2% 5%;
}
.contactTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #101828;
}
.contactDetails {
  width: 300;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}
.contactForm-labels {
  width: 71px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #344054;
  margin-top: 20px;
}
.contactInput {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 12px;
}
#message {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  line-height: 20px;
  padding: 12px 14px;
  width: 100%;
  height: 108px;
}
#text_area {
  width: 311px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
#btn__submit {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  padding: 12px 20px;
  margin-top: 32px;
}
